/*1367201350,178142525*/

.sp_1g92c1{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yU/r/_ua_XMksJcj.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:5px;width:9px}
.sx_74005e{background-position:-9px 0}
.selected .sx_74005e{background-position:0 0}

#bootloader_aJ2B2 { height: 42px; }

/*1367211933,173213725*/

._qt ._qi{width:417px}
._qu ._qi{width:276px}
._qu ._qi:last-child{width:277px}
._qv ._qi{width:206px}
._qw ._qi{width:164px}
._qw ._qi:last-child{width:163px}
._qi{background-color:#f2f4f8;display:inline-block;margin-left:2px;margin-right:3px}
._qi:first-child{margin-left:0}
._qi:last-child{margin-right:0}
.fbTimelineSection._qh{margin-bottom:-3px;margin-top:12px;padding:5px}
._ql{display:block;padding:10px 14px}
._qy{color:#8897bd;font-family:'Helvetica Neue', Calibri, Helvetica, Arial, sans-serif;font-size:20px;font-weight:bold;-webkit-font-smoothing:antialiased}
._qz{color:gray;font-size:11px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._qg._qi{background-color:#6d84b4}
._qg._qi:hover{background-color:#5871a7}
._qi:hover{background-color:#e8ebf3}
._qg ._qy, ._qg ._qz{color:#fff}
._ql:hover{text-decoration:none}
._1qp6 .fbProfileBrowserListContainer, ._262m{margin-left:-13px}
._1qp6 .fbProfileBrowserListContainer .fbProfileBrowserListItem, html ._262m ._698{border:1px solid #e9eaed;display:inline-block;margin:0 0 13px 13px;padding:0 10px 0 0;vertical-align:top;width:390px}
._1qp6 .fbProfileBrowserSummaryBox{padding-top:0}
._1qp6 .fbProfileBrowserListContainer{padding:10px 0}
._3qxv ._262m{display:none}
div.timelineFriendsSection .uiMorePager{margin-bottom:-20px;padding:20px 0 0}
.timelineFriendsSection .expandedList{padding-bottom:10px}
.timelineFriendsSection .fbProfileBrowserListContainer .expandedList li:first-child{border-top:0}
.timelineFriendsSection .uiTypeahead{border-right-width:1px}
.timelineFriendsSection .uiMorePagerPrimary{background-color:#fff;border-bottom:0;border-left:0;border-right:0;padding:5px 15px}
.timelineFriendsSection .fbProfileBrowser
.typeaheadView .fbProfileBrowserSummaryBox{display:none}
.timelineFriendsSection .profileBrowserGrid .uiGrid{table-layout:fixed}
.timelineFriendsSection .friendsLayout .filterBox{padding:0}
.timelineFriendsSection h3 .subheader{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yP/r/gUGs3y3rGPq.gif) no-repeat left center;display:inline-block}
.timelineFriendsSection h3{font-size:16px}
.timelineFriendsColumnHeader .fbTimelineStickyHeader .actions{padding-right:15px}
.fbProfileLargePortraitImgScaleHeight{height:75px;position:relative}
.fbProfileLargePortraitImgScaleWidth{position:relative;width:75px}
.fbProfileLargePortraitImgSmall{background-position:center 10%}
.fbProfileLargePortraitImgMedium{background-position:center 15%}
.fbProfileLargePortraitImgLarge{background-position:center 20%}
.fbProfileLargePortraitImgHuge{background-position:center 30%}
.fbTimelineSection._e2{padding:0;margin-top:12px}
._e2 .friendsLayout .filterBox{border-bottom:1px solid #d8dfea;padding:14px 26px;background:#eceff5;margin:3px}
._e2 .filterBox .halfWidth{width:66%}
._e2 .listView{padding-left:27px}
._e2 .listView.showListviewLoading{padding-bottom:80px}
._qs .uiSearchInput span{width:100%}
._qs .fbProfileBrowserTypeahead .nameTypeaheadThrobber{right:30px}
._e2 h3{font-size:16px}
._e2 h3 .subheader{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yP/r/gUGs3y3rGPq.gif) no-repeat left center;display:inline-block}
._e2 .uiMorePagerPrimary{background-color:#fff;border-bottom:0;border-left:0;border-right:0;padding:5px 15px}
div._e2 .uiMorePager{margin:-1px -28px -20px -27px;padding:0 28px 10px 0}
._e3{height:75px;width:75px}
._e4{background:#eee;height:75px;width:75px;overflow:hidden;position:absolute}
._e5{overflow:hidden}
._g_{margin-left:10px;margin-right:0}
.expandedList.profileBrowserGrid tr:first-child ._e6, .expandedList .profileBrowserGrid tr:first-child ._e6, ._e6{border-top:1px solid lightgray;margin-left:1px;margin-right:28px}
.profileBrowserGrid tr:first-child ._e6{border-top:none}
._e2 .typeaheadView .fbProfileBrowserSummaryBox{margin-bottom:10px;margin-right:30px}
._e2 .typeaheadView .fbProfileBrowserListItem{padding-bottom:5px}
.typeaheadView ul:last-child .fbProfileBrowserListItem{padding-bottom:10px}
.friendsLayout .halfWidth{width:50%}
.friendsLayout .buttonsCell{padding-left:6px}
.friendsLayout .hasSelector .uiTypeahead .wrap{border-right:0}
.standardLayout .filterBox{padding:6px 7px 6px 5px}
.standardLayout .filterBox table{border-collapse:collapse;width:100%}
.standardLayout .filterBox td{padding:0}
.standardLayout .fullWidth, .standardLayout .uiTypeahead{width:100%}
.standardLayout .hasSelector .uiTypeahead .wrap{border-left:0}
.standardLayout .hubsLoading .throbber{display:block}
.standardLayout .hubsLoading .selected .uiCloseButton{display:none}
.listView .throbber, .showListviewLoading .lists{display:none}
.showListviewLoading .throbber{display:block;margin:0 auto;position:relative;top:40px}
.limitReached .checkableListItem{opacity:.3}
.limitReached .selectedCheckable{opacity:1}
.listView .nullstate{color:#999;font-size:18px;margin-top:85px;text-align:center}
.listView .queryThrobber{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y9/r/jKEcVPZFk-2.gif);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:32px;margin:20px auto 0;width:32px}
.searching, .queryActive .nothingFound{display:none}
.queryActive .searching{color:#666;display:block}
.hiddenList{top:150%;left:-3000px;position:fixed !important}
.fbProfileBrowserListContainer .expandedList .fbProfileBrowserListItem:first-child{border-top:1px solid #e9e9e9}
.fbProfileBrowserSummaryBox{border-bottom:1px solid #ccc}
.hideSummary .fbProfileBrowserSummaryBox{display:none}
.fbProfileBrowserTypeahead .nameTypeaheadThrobber{display:none;position:absolute;right:6px;top:5px}
div.fbProfileBrowserTypeahead .clear,
.fbProfileBrowser .loading .nameTypeaheadThrobber{display:block}
.fbProfileBrowser .loading .clear{display:none}

#bootloader_ipbjJ { height: 42px; }

/*1367201955,178142507*/

.UIAdmgrPage ._548i{margin:10px 20px 10px 0}
._55h- span.fbInsightsTinyStatistic{padding-right:.5em}
._548k div:first-child{padding-bottom:5px}
._548k .fbInsightsTinyStatisticNumber{padding-right:5px}
._548l em:last-child{padding-left:5px}
._548m{margin-bottom:15px;padding-top:10px}
._548m span.fbInsightsTinyStatisticNumber{padding-right:.5em}
._548n{margin-left:20px}
.followListFilter{border-bottom:1px solid #e9e9e9}
.followOptinPrompt{background-color:#f5f7fa;border:1px dashed #ced5e5;border-width:0 0 1px 0;margin:-15px -20px 15px}
.followOptinPromptTimeline{background-color:#f5f7fa;margin:-5px -20px 15px}
.followOptinPromptTimelineCollections{background-color:#f5f7fa;border:1px dashed #ced5e5;margin-bottom:15px;padding:15px}
.followOptinPrompt .followOptinPromptCloseButton,
.followOptinPromptTimeline .followOptinPromptCloseButton,
.followOptinPromptTimelineCollections .followOptinPromptCloseButton{float:right}
.subscribeNoThanks{padding-left:10px;padding-top:4px}
.subscriptionsTable .labelItem{width:220px}
.subscriptionsTable .contentsItem{width:559px}
.async_saving .moreLink{display:none}
.subscriptionsTable tr{border-bottom:1px solid #e9e9e9}
.subscriptionsTable td{padding:10px 0 25px 0}
.singleWidget .timelineUnitContainer{margin-left:-7px}
.subscriptionsTable .friendListListItem .lighterLink a{color:#6d84b4}
.ga_select_form .uiInterstitial{width:600px}
.ga_select_form .listView{height:290px;overflow-y:scroll}
.pageAdminListItemNotifs{line-height:1em;padding:3px 0 4px}
.pageNotifMenu{display:inline-block}
.pageNotifMenu .pageNotifToggler{position:relative}
.pageNotifMenu .pageNotifLink{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/I3I5QS32mPC.png);background-repeat:no-repeat;background-size:auto;background-position:right -249px;padding-right:20px}
.pageNotifMenu .pageNotifBubble{display:inline-block}
.pageNotifMenu .pageNotifPopup{background-color:#fff;border:1px solid #333;border-bottom:2px solid #293e6a;left:0;position:absolute;top:17px;width:330px;z-index:3}
.pageNotifMenu .pageNotifPopupRight{left:auto;right:0}
.pageNotifMenu .pageNotifLoading{display:block;margin:5px auto}
.pageNotifMenu .pageNotifFooter a{background-color:#f7f7f7;border-top:1px solid #e0e0e0;display:block;font-weight:bold;padding:8px;text-align:center}
.pageNotifMenu .pageNotifFooter a:hover, .pageNotifMenu .pageNotifFooter a:active, .pageNotifMenu .pageNotifFooter a:focus{background-color:#6d84b4;border-top:1px solid #3b5998;color:#fff;outline:none;text-decoration:none}
._3sv- .fbProfileBrowserListContainer{margin-left:-13px;padding-top:13px}
._3sv- .fbProfileBrowserListContainer .followListItem{border:1px solid #e5e5e5;display:inline-block;margin:0 0 13px 13px;padding:0 10px 0 0;vertical-align:top;width:390px}
.profileBrowserDialog .fbProfileBrowserListItem:first-child{border-top:none}
.profileBrowserDialog .listView{height:353px}
.profileBrowserDialog .fbProfileBrowserResult{height:353px;overflow-y:auto;position:relative}
.profileBrowserDialog .filterBox{border-bottom:1px solid #ccc;border-top:none}
.profileBrowserDialog .fbProfileBrowserSummaryBox{margin:0 4px}
.profileBrowserDialog .limitNotReached .checkmark{display:none}
.profileBrowserDialog .checkmark{position:relative;top:2px;left:7px}
.profileBrowserDialog .fbProfileBrowserList .fbProfileBrowserListItem{padding:4px}
.filterBoxAlignment{padding:10px 7px 10px 5px}
.requestMessage{border:0 none;outline:0 none;padding:0;width:100%}
.requestMessageWrapper{background-color:#fff;border:1px solid #bdc7d8;overflow:hidden;padding:3px 3px 4px 3px}
.standardLayout .streamStyleRequest{padding:3px 0 0 5px}
.appRequestsLayout .threeColumns .multiColumnCheckable .subtitle{display:inline}
.fbProfileBrowserList .fbProfileBrowserListItem{padding:8px 0}
.fbProfileBrowserList .async_saving{position:relative}
.fbProfileBrowserList .async_saving .loadingIndicator{background:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 0 0;height:11px;left:50%;margin:-5px 0 0 -6px;position:absolute;top:50%;width:16px}
.fbProfileBrowserList .async_saving .auxiliaryButton{visibility:hidden}
.adminActions form, .adminActions a, .adminActions div{float:left}
.adminActions .closeButton{margin-top:3px;margin-left:10px}
.checkableListItem .anchor:hover{text-decoration:none}
.selectedCheckable, .selectedCheckable .anchor:hover{background:#e3e7f1}
.selectedCheckable + .selectedCheckable{border-color:#c3cce1}
.disabledCheckable .anchor, .disabledCheckable .anchor:hover{background:#fff;cursor:default;opacity:.3;outline:none}
.suggestedDivider{background:#e9e9e9;height:6px;text-align:center;text-transform:uppercase}
.suggestedDivider .dividerText{background:#fff;position:relative;top:-4px}
.multiColumnCheckable{float:left;margin:5px 0 0 5px;overflow:hidden;width:262px}
.threeColumns .multiColumnCheckable{width:173px}
.threeColumns .multiColumnCheckable.presenceIncluded{width:196px}
.threeColumns .multiColumnCheckable .content, .threeColumns .multiColumnCheckable .spacer{height:30px}
.threeColumns .multiColumnCheckable .long{margin-top:-1px}
.threeColumns .multiColumnCheckable .text{font-weight:normal;width:105px;word-wrap:break-word}
.threeColumns .multiColumnCheckable .subtitle{display:none}
.threeColumns .multiColumnCheckable .photo{height:30px;margin-right:5px;width:30px}
.multiColumnCheckable .checkbox{float:left;margin:23px 8px 0 6px}
.threeColumns .multiColumnCheckable .checkbox{margin:12px 6px 0}
.multiColumnCheckable .anchor{border:1px solid #fff;border-width:1px 0;display:block;outline:none;padding:6px}
.threeColumns .multiColumnCheckable .anchor{padding:2px}
.multiColumnCheckable .anchor:hover{background-color:#eceff5;border-color:#eceff5}
.multiColumnCheckable .selected .text{color:#fff}
.limitReached .multiColumnCheckable .anchor{border-color:#fff}
.multiColumnCheckable.selectedCheckable .anchor{background-color:#d8dfea;border-color:#c3cce1}
.multiColumnCheckable .presenceImg{float:right;height:12px;margin:0 5px;width:8px}
.multiColumnCheckable .presenceImg.active{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/y_/r/I3I5QS32mPC.png);background-repeat:no-repeat;background-size:auto;background-position:-489px -593px;margin-top:7px}
.multiColumnCheckable .presenceImg.mobile{background-image:url(https://fbstatic-a.akamaihd.net/rsrc.php/v2/yB/r/hIGM6Y5-1_B.png);background-repeat:no-repeat;background-size:auto;background-position:-34px -298px;margin-top:8px}
.fbProfileBrowserNullstate{padding-top:40px;text-align:center}
.openToggler a._4-s1, .openToggler a._4-s1:hover, .openToggler a._4-s1:focus, .openToggler a._4-s1:active{background-color:#6d84b4;background-image:none;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none;color:#fff}

#bootloader_DM7HC { height: 42px; }