.gsfhack {
	background-image: url('chrome-extension://__MSG_@@extension_id__/icon16.png');
	background-size: auto;
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}

#gsfhackquery {
	width: 90%;
	margin-left: 20px;
	background: #385088;
	border-bottom: 1px solid #6378af;
	-webkit-border-radius: 4px;
	border-top: 1px solid #243357;
	height: 28px;
	color: #FCFCFC;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	font-family: Verdana;
}

#gsfhack-autocomplete {
	position: absolute;
	z-index: 9999;
	background-color: #4c66a4;
	height: 300px;
	overflow: auto;
	display: none;
	color: #FCFCFC;
	font-size: 16px;
	font-family: Verdana;
	padding-left: 10px;
	padding-right: 10px;
}

.gsfhack-subtext {
	font-size: 10px;
	color: #CCCCCC;
}

.gsfhack-category {
	font-size: 12px;
	font-weight: bold;
	color: #222222;
}

.gsfhack-sugbox {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: solid 1px #4650AA;
}

.gsfhack-sugbox:hover {
	background-color: #5070B0;
}	

.gsfhack-results-box {
	margin-bottom: 32px;
	margin-top: 32px;
	overflow: auto;
	height: 200px;
}